.block{
    height: 150px;
    background-color: crimson;
}
.block1{
    height: 150px;
    background-color: darkolivegreen;
}
.block2{
    height: 150px;
    background-color: darkslateblue;
}