*{
    margin: 0;
    padding: 0;
}
.first{
    background-color: cornflowerblue;
    width:100%;
    height: 270px;
    display:flex;
    justify-content: space-evenly;
}
.image{
    width:200px;
    height: 200px;
}
.second{
    background-color: lightcoral;
    width:100%;
    height:280px;
    display:flex;
    justify-content: space-evenly;
}
.two-child{
    width:200px;
    height:200px;
    background-color: mediumspringgreen;
}